/* TAGS */

p.tags {
    line-height: 2.25em;
    margin: 0.5em;
    text-align: justify;
    vertical-align: middle;
}
p.tags a,
p.tags span {
    color: #47A;
    margin-right: 0.5em;
}
p.tags span hover {
    cursor: pointer;
    text-decoration: underline;
}
p.tags span.selected {
    background: #CEC;
}
