<div id="word-search">
<form name="search" id="search" action="<{$smarty.const.XOOPS_MODULE_URL}>/glossary/index.php?action=Search" method="post" onsubmit="return xoopsFormValidate_search();">
	<{xoops_input type=hidden name=action value=results}>
	<{$smarty.const._MD_GLOSSARY_FREEWORDS}>&nbsp;
	<input name="query" id="query" size="50" maxlength="255" value="<{$querywords}>" type="text" />&nbsp;
	<input class="formButton" name="submit" id="submit" value="<{$smarty.const._MD_GLOSSARY_SEARCHENTRY}>" type="submit" />
</form>
</div>
<!-- Start Form Vaidation JavaScript //-->
<script type='text/javascript'>
<!--//
function xoopsFormValidate_search() {
    myform = window.document.search;
if ( myform.query.value == "" ) { window.alert("<{$smarty.const._MD_GLOSSARY_NEEDINPUTTWORD}>"); myform.query.focus(); return false; }
return true;
}
//--></script>
<!-- End Form Vaidation JavaScript //-->

